 #super-admin-login .Polaris-VerticalStack {
     width: 500px;
 }

 /*
#super-admin-login label {
    font-size: 18px;
} */

 /* #super-admin-login button {
    padding: 15px;
    font-size: 18px;
} */