.left-card-layout .Polaris-LegacyCard {
    background-color: unset;
    box-shadow: none;
}

.right-card-layout .Polaris-Box {
    box-shadow: none;
}

.common_table thead {
    background-color: #f9fafb;
}

.container-fluid.page_margin {
    margin-top: 20px;
}